.home-condate {
  margin: 1em;
  color: #6E6F72;
  font-size: 24px;

  b {
    color: #D0272B;
  }
  strong {
    color: #04556A;
  }
}

.side-condate {
  font-size: 13px;
  text-align: center;
  margin: -40px 0 20px;
}