#logo {
  padding: 50px 0;
  text-align: center;
}

#nav {
  position: absolute;
  left: 0;
  bottom: 0;
  top:0;
  width: 250px;
  background-color: #D3202E;
  color: #FCFBF5;
  z-index: 10;

  a {
    color: #FCFBF5;
    &.reversed {
      color: #1C1B15;
    }
    &.btn {
      color: #D3202E;
      margin: 20px
    }
  }
  ul {
    border-top: 1px solid #DC4F55;
    a {
      border-bottom: 1px solid #DC4F55;
      padding-left: 40px;
    }
    a:hover, .active > a {
      background-color: darken(#D3202E, 6%);
    }
  }
  ul ul li > a{
    padding-left: 60px;
    font-size: 0.8em;
  }

  @include respond-to(mobile) {
    width: 0;
    .inner {
      overflow: hidden;
    }
  }

  .btn-nav {
    position: absolute;
    left: 100%;
    top:10px;
    margin-left: 10px;

    @include respond-to(desktop) {
      visibility: hidden;
    }
  }
  &.show {
     width: 250px!important;
  }
  .lang-select {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
}



#main {
  position: absolute;
  left: 250px;
  right:0;
  bottom: 0;
  top:0;
  overflow: auto;

  @include respond-to(mobile) {
    left: 0;

  }


  img {
    max-width:100%;
  }
}
.col-left {
  margin-right: -240px;
  float: left;
  width: 100%;
  > .inner {
    padding: 40px 260px 40px 40px;
    position: relative;
  }

  @include respond-to(mobile) {

    margin-right: 0;
    float: none;
    width: 100%;

    > .inner {
      padding: 40px;
    }
  }
}
.col-right {
  width: 240px;
  float: right;
  padding: 0 20px;
  margin: 20px 0;
  border-left: 1px solid #eee;

  @include respond-to(mobile) {
    display: none;
  }
}

#sider {

  h3{
    border-bottom: 1px solid #ccc;
    padding: 0 0 4px;
    color: #999;
  }
}


#title {
  margin: 0;
  padding: 40px 40px;
  background: url('images/pattern.png');
}

.content {
  padding: 0 30px 30px;
}

.slideInPage {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  right:250px;
  padding: 0 40px 0 280px;
  background-color: #F5F4EE;
  box-shadow: 0 0 20px 2px #999;
  height: 100%;
  overflow: auto;
  .close-btn {
    position: absolute;
    right: 0;
    top:0;
  }
}

.ng-trans.ng-enter, .ng-trans.ng-leave {
  -webkit-transition: 400ms all;
  transition: 400ms all;
}

.ng-trans-slide.ng-enter {
  opacity: 0.3;
  -webkit-transform:  translate(-100%, 0);
  transform:  translate(-100%, 0);
}
.ng-trans-slide.ng-enter.ng-enter-active,
.ng-trans-slide.ng-leave {
  opacity: 1;
  -webkit-transform:  translate(0, 0);
  transform:  translate(0, 0);
}
.ng-trans-slide.ng-leave.ng-leave-active {
  opacity: 0.3;
  transform:  translate(-100%, 0);
  -webkit-transform:  translate(-100%, 0);
}


.close-btn {
  padding: 10px 15px;
  display: inline-block;
  color: #999;
  font-size: 32px;
  z-index: 10;
  line-height: 32px;
  cursor: pointer;
  &:hover {
    color: #c00;
  }
}
