
.divider {
  &:before {
    content: '. . . . . .';
    width: 100%;
    display: block;
    text-align: center;
    color: $main-green;
  }
}
.text-center {
  text-align: center;
}

.doc-title {
  font-size: 32px;
  position: relative;
  margin: 1.5em 0 0.7em;
  font-weight: bold;
  color: $main-red;

  @include respond-to(mobile) {
    font-size: 24px;
  }

}

.doc-content {
  font-size: 18px;
  margin: 0 0 1em;

  @include respond-to(mobile) {
    font-size: 15px;
  }

  p {
    line-height: 1.5;
    color: #555;
  }

}

.square-list {
  padding-left: 1.5em;
  list-style-type: square;

  li {
    line-height: 1.2;
    margin-bottom: 0.9em;
  }
}
.note {
  font-size: 0.8em;
  color: #555;
}

.section-title {
  border-bottom: 3px solid #D3202E;
  padding: 0 0 4px;
  margin-bottom: 20px;
}

hr {
  border-color: darken(#F5F4EE, 8%);
}
