html, body {
  height: 100%; }

body {
  overflow: hidden;
  background: #FDFCF6;
  font-size: 18px; }

a {
  color: #D3202E; }

a:hover {
  color: #a71924; }

#logo {
  padding: 50px 0;
  text-align: center; }

#nav {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  background-color: #D3202E;
  color: #FCFBF5;
  z-index: 10; }
  #nav a {
    color: #FCFBF5; }
    #nav a.reversed {
      color: #1C1B15; }
    #nav a.btn {
      color: #D3202E;
      margin: 20px; }
  #nav ul {
    border-top: 1px solid #DC4F55; }
    #nav ul a {
      border-bottom: 1px solid #DC4F55;
      padding-left: 40px; }
    #nav ul a:hover, #nav ul .active > a {
      background-color: #b81c28; }
  #nav ul ul li > a {
    padding-left: 60px;
    font-size: 0.8em; }
  @media only screen and (max-width: 1000px) {
    #nav {
      width: 0; }
      #nav .inner {
        overflow: hidden; } }
  #nav .btn-nav {
    position: absolute;
    left: 100%;
    top: 10px;
    margin-left: 10px; }
    @media only screen and (min-width: 1001px) {
      #nav .btn-nav {
        visibility: hidden; } }
  #nav.show {
    width: 250px !important; }
  #nav .lang-select {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0; }

#main {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto; }
  @media only screen and (max-width: 1000px) {
    #main {
      left: 0; } }
  #main img {
    max-width: 100%; }

.col-left {
  margin-right: -240px;
  float: left;
  width: 100%; }
  .col-left > .inner {
    padding: 40px 260px 40px 40px;
    position: relative; }
  @media only screen and (max-width: 1000px) {
    .col-left {
      margin-right: 0;
      float: none;
      width: 100%; }
      .col-left > .inner {
        padding: 40px; } }

.col-right {
  width: 240px;
  float: right;
  padding: 0 20px;
  margin: 20px 0;
  border-left: 1px solid #eee; }
  @media only screen and (max-width: 1000px) {
    .col-right {
      display: none; } }

#sider h3 {
  border-bottom: 1px solid #ccc;
  padding: 0 0 4px;
  color: #999; }

#title {
  margin: 0;
  padding: 40px 40px;
  background: url("images/pattern.png"); }

.content {
  padding: 0 30px 30px; }

.slideInPage {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 250px;
  padding: 0 40px 0 280px;
  background-color: #F5F4EE;
  box-shadow: 0 0 20px 2px #999;
  height: 100%;
  overflow: auto; }
  .slideInPage .close-btn {
    position: absolute;
    right: 0;
    top: 0; }

.ng-trans.ng-enter, .ng-trans.ng-leave {
  -webkit-transition: 400ms all;
  transition: 400ms all; }

.ng-trans-slide.ng-enter {
  opacity: 0.3;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

.ng-trans-slide.ng-enter.ng-enter-active,
.ng-trans-slide.ng-leave {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.ng-trans-slide.ng-leave.ng-leave-active {
  opacity: 0.3;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0); }

.close-btn {
  padding: 10px 15px;
  display: inline-block;
  color: #999;
  font-size: 32px;
  z-index: 10;
  line-height: 32px;
  cursor: pointer; }
  .close-btn:hover {
    color: #c00; }

.prompt {
  float: right;
  width: 340px;
  border: 3px solid #F6F5EF;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 10px; }
  .prompt .title {
    position: relative;
    color: #d32230; }
  @media only screen and (max-width: 1000px) {
    .prompt {
      width: 100%;
      float: none; }
      .prompt .title {
        text-align: left; } }

.well {
  background-color: #F6F5EF;
  padding: 10px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.user-groups li {
  width: 50%;
  float: left;
  margin: 10px 0; }
@media only screen and (max-width: 1000px) {
  .user-groups li {
    width: 100%; } }

.lang-select {
  margin: 10px;
  text-align: center;
  font-size: 13px;
  opacity: 0.7; }
  .lang-select a {
    margin: 0 10px; }

.container {
  width: 800px;
  margin: 0 auto; }

.welcome-header {
  text-align: center;
  padding: 50px 0 5px;
  background: #f5f4ee image-url("pattern.png"); }

.footer {
  background-color: #005468;
  padding: 1em;
  color: #FDFCF6;
  margin-top: 4em; }
  .footer .text-center {
    font-size: 40px;
    margin: 0.5em; }

.hero-text {
  font-size: 36px;
  line-height: 2;
  font-weight: bold;
  margin: 0.8em 0; }

.sponsers img {
  margin: 1px 0 20px; }
.sponsers img:last-child {
  margin: 0 0 1px; }

.home-sponsers {
  text-align: center;
  background-color: rgba(245, 244, 238, 0.8);
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(102, 102, 102, 0.1);
  box-shadow: 0 1px 1px rgba(102, 102, 102, 0.1); }
  .home-sponsers h4 {
    color: #e4e1ce;
    margin: 5 0 15px; }
  .home-sponsers .sponser-logos {
    margin: 5px; }
    .home-sponsers .sponser-logos img {
      margin: 10px 5px; }
  .home-sponsers .sponser-more {
    margin: -3px 0 0;
    height: 0; }
    .home-sponsers .sponser-more a.btn {
      padding: 10px 20px;
      background-color: #F6F5EF;
      color: #999;
      border: none; }
      .home-sponsers .sponser-more a.btn:hover {
        color: #000; }

.divider:before {
  content: '. . . . . .';
  width: 100%;
  display: block;
  text-align: center;
  color: #005468; }

.text-center {
  text-align: center; }

.doc-title {
  font-size: 32px;
  position: relative;
  margin: 1.5em 0 0.7em;
  font-weight: bold;
  color: #d32230; }
  @media only screen and (max-width: 1000px) {
    .doc-title {
      font-size: 24px; } }

.doc-content {
  font-size: 18px;
  margin: 0 0 1em; }
  @media only screen and (max-width: 1000px) {
    .doc-content {
      font-size: 15px; } }
  .doc-content p {
    line-height: 1.5;
    color: #555; }

.square-list {
  padding-left: 1.5em;
  list-style-type: square; }
  .square-list li {
    line-height: 1.2;
    margin-bottom: 0.9em; }

.note {
  font-size: 0.8em;
  color: #555; }

.section-title {
  border-bottom: 3px solid #D3202E;
  padding: 0 0 4px;
  margin-bottom: 20px; }

hr {
  border-color: #e6e3d4; }

.alert {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0 -1px 0; }

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.home-condate {
  margin: 1em;
  color: #6E6F72;
  font-size: 24px; }
  .home-condate b {
    color: #D0272B; }
  .home-condate strong {
    color: #04556A; }

.side-condate {
  font-size: 13px;
  text-align: center;
  margin: -40px 0 20px; }

.talk-meta dt {
  color: #999;
  font-weight: normal;
  margin: 15px 0 0; }
.talk-meta dd {
  font-size: 28px; }

.small-title {
  font-size: 16px;
  font-weight: normal;
  color: #999; }

.schedule-table {
  font-size: 16px; }
  .schedule-table thead th {
    color: #999; }
  .schedule-table th {
    color: #04556A;
    font-weight: normal; }

.speaker-link {
  margin: 0; }
  .speaker-link a {
    color: #04556A;
    font-size: 0.8em; }

.action-btn-block {
  text-align: center;
  margin: 2em 0 1em; }
